In [12]:
import pandas

In [19]:
import numpy as np
import pandas as pd
dataset = pd.read_excel("C:\\Users\\Hikari Reiziq\\ProjectStatProbTugasCoding\\Coding-Task-1-A-046-061-079-123\\Dataset.xlsx")
dataset = pandas.read_excel("Dataset.xlsx")

In [23]:
dataset

     Tanggal  Curah Hujan (mm)  Penjualan A (pcs)  Penjualan B (pcs)
0          1               1.4                  0                507
1          2               1.2                 27                 61
2          3              15.2                458                367
3          4              13.4                 20                 21
4          5               7.7                  7                  0
..       ...               ...                ...                ...
116        4               2.2                430                421
117        5               0.5                208                 24
118        6              33.4                200                189
119        7               0.0                  0                324
120        8               0.0                143                315

[121 rows x 4 columns]

In [22]:
dataset['Penjualan A (pcs)']

0        0
1       27
2      458
3       20
4        7
      ...
116    430
117    208
118    200
119      0
120    143
Name: Penjualan A (pcs), Length: 121, dtype: int64

In [25]:
dataset['Penjualan B (pcs)']

0      507
1       61
2      367
3       21
4        0
      ...
116    421
117     24
118    189
119    324
120    315
Name: Penjualan B (pcs), Length: 121, dtype: int64

In [24]:

dataset.descibe()

AttributeError: 'DataFrame' object has no attribute 'descibe'